*{
    margin:0px;
    padding:0px;
    /* resets any default margin or padding for anything, make your own now buddy */
}
/* global styles */
a{
    text-decoration: none;
    /* globally edits any links */
    color: maroon
}
a:hover{
    color:rgb(61, 30, 116);
}
a:active{
    color: white;
}
a:visited{
    color: black;
}

label:hover{
    color:blue;
}
#button:hover{
    color:blue;
}


body{
    color:blue;
    background-color: rgba(194, 187, 178, 0.071);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
    margin: 0;

    /* font: bold 20px sans-serif;  */
    /* that font shortcut has specific serial to maintain */
}
/* id use korbo jokhon uniqie, class use korbo jokhon oita onno jaigai o use korte pari */
.container{
    width: 80%;
    /* container er bhitor width % use korle better,
    tahole better responsive hoi jinishta */
    margin:auto;
    background-image:url("Naruto.jpg") ;
    background-repeat: none;
}

#button{
   background-color: black;
   color:white;
   font-family: cursive;
   font-weight: bold;
   /* margin: 0px 50%; */
}

.box1{
    line-height: 1.8em;
    background-color: rgba(136, 136, 115, 0.21);
    color: black;
    font-family: cursive;
    padding: 5px 5px 20px 20px;
    /* border-color: rgb(41, 0, 0); */
    border-top: 10px solid rgba(67, 5, 5, 0.961); 
    border-bottom: 10px solid rgb(63, 0, 0); 
    border-left: 20px double rgba(75, 0, 0, 0.975); 
    border-right: 20px double rgba(58, 1, 1, 0.95);  
    
    /* border emne likhte hoi arki */
    margin: 20px 20px 20px 20px;
    
}

.box1 h1{
    padding: 7px;
    border: 5px dotted rgb(63, 4, 4);
    color: rgb(92, 5, 5);
    font-weight: 50;
    font-style: bold;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    text-decoration:wavy;
    letter-spacing: 0.01em;
    word-spacing: 0.1em;
    
}
.box2{
    line-height: 1.6em;

    margin: 20px 20px 20px 20px;
    border: 20px double maroon;
    padding: 20px;
    background-color: beige;
    color: black;
}

.box2 h1{

    margin: 5px;
    border: 5px solid maroon;
    padding: 5px;

    font-weight: 50;
    text-align: center;

    color: maroon;
    font-family: cursive;

    font-size: larger;
}


.Categories{
    margin: 5px;
    border: 5px solid maroon;
    padding: 30px;
    background-color: beige;
    
    line-height: 1.6em;

    font-family: cursive;
    font-size: 20px;
}

.Categories h2{
    color: maroon;
    margin: 5px;
    border: 5px solid maroon;
    padding: 10px;
    text-align: center;
    line-height: 1.6em;
}

ul{
    list-style: square;
    color:maroon
}

li{
    margin: 2px;
    border-bottom: 2px dotted maroon;
    padding: 9px;
    list-style-image: url("Checkmark.png");
    
}

#form-id{
    margin: 20px 0px;
    border: 10px double maroon;
    padding: 20px;
    background-color: beige;
}

#form-id .form-group{
    /* border-bottom: 2px solid maroon; */
    padding: 3px;
    margin: 1px 0px
}

#form-id label{
    display:block;
}

#form-id input , #form-id textarea{
    padding:5px;
    width: 100%;
}

/* #form-id textarea{
    width: 100%;
    can do at once if same styel bt putting comma,
    check above selector
} */ 
#form-id .button{
   background-color: black;
   color:white;
   font-family: cursive;
   font-weight: bold;
   /* margin: 0px 50%; */
}


.block{
    float:left;
    width:33.33%;
    border: 5px solid maroon;
    padding:5px;
    /* margin:5px; 
    this is the problem with css..eita add korle
     niche chole jai...this is where flexbox comes*/  
    box-sizing: border-box;
    font-family: cursive;;
    font-size: large;
    line-height: 1.6em;
    background-color: beige
}
.block h1{
    border:2px double maroon;
    text-align: center;
}

.clear {
    clear: both;
    background-color: rgb(255, 255, 255);
    height: 20px;
}


.mainblock{
    float: left;
    width:70%;
    box-sizing: border-box;
    background-color: beige;
    border: 5px solid maroon;
}

.sidebar{
    float: right;
    width: 30%;
    box-sizing: border-box;
    background-color: beige;
    border: 5px solid maroon;
}
.clear {
    clear: both;
    background-color: white;
    height: 20px;
}

.p-box{
    margin: 20px;
    border: 2px solid maroon;
    padding: 0px 50px;
    width:500px;
    height:500px;
    position: relative;
}

.p-box h1{
    color: rgb(60, 30, 30);
    position:absolute;
    top:0;
    bottom:0; 
    padding: 0px 50px; 
}

.p-box h2{
    color: maroon;
    position:absolute;
    top: 40px;
    bottom:30px; 
}

.p-box h3{
    position:absolute;
    top: 80px;
    bottom:60px; 
}

/* absolute removes tags from documentation,
and positions itself to its parents or gparents
side and positions itself with the help of top and bottom */

.p-box2{
    margin: 20px;
    border:5px solid maroon;
    padding: 20px;
    width:500px;
    height:500px;
}

.p-box2 h1{
    color: greenyellow;
    position: fixed;
    top:0;
    bottom:0; 
    /* stays fixed where I fixed it */

}

.p-box3{
    margin: 20px;
    border:5px solid maroon;
    padding: 20px;
    width:500px;
    height:500px;
}

.p-box3 h1{
    position:sticky;
    top:100px;
    bottom:100px;
}

.pseudocodes li:nth-child(even){
    color:black;
    font-family: cursive;
    background: white;
}

/* min height makes the content stay inside a box or anything
and even makes it responsive */

/* @media{
ekhane class diye float none ar width 100% korlei, screen choto korle 
float 0 hoye jabe ar responsive hoye jabe} */

@media(max-width:600px){
    .block{
        float: none;
        width:100%;
    }
}